.join-us {
  background-color: #F7F7F7;
}

.join-us > h2 {
  margin-top: 0;
  padding-top: 30px;
}

h2, p {
  text-align: center;
}

.cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
